#input data
operations-puppet
.Rhistory
output*
*.pyc
timeseries

#outputs
times.csv
diff-collected.csv
diff-collected.json
all-changes.json
filtered-mysql.json
bugs.json
output*

#compiled/saved
.Rhistory
.RData
*.pyc

#local
run-differ.sh

#dumped changemap
figs/changemap
figs/index.json
